<div class='container'>
  <h2>This app determines your GPS location, then using the Yelp API it displays 20 Pizza places in the area</h2>
  <p>note: The Yelp API can be slow.</p>
  <button (click)="findMe()">Pie Me!</button>
  <br />
  <div class='many'>
    <p *ngFor="let one of results">
      <button [routerLink]="['/oneplace', { id: one.id } ]">
        <div class="card">
          <p>
            <br />
            <b>{{ one.name }}</b> <br />
            {{ one.location.display_address }}<br>
            {{ one.display_phone }}<br>
            rating: {{ one.rating }} stars<br>
            <img [src]="one.image_url" width="140" height="140">
            <br>
            (click to select)
          </p>
        </div>
      </button>
    </p>
  </div>
</div>