<!--The content below is only a placeholder and can be replaced.-->

<h1>
  Welcome to {{ title }}!
</h1>
<form>
  <input type="text" placeholder="Food??, Breakfast???" [(ngModel)]="iTerm" name="1" required>
  <input type="text" placeholder="Zip Code, City??" [(ngModel)]="iLocation" name="2" required>
  <input type="number" placeholder="price 1, 2, 3, 4" [(ngModel)]="iPrice" name="3" required>

</form>
<button (click)="searchItYelp(iTerm, iLocation, iPrice)">Yelp it!</button>
<!-- 
{{ iTerm }}
{{ iLocation }}
{{ iPrice }} -->
<div class="card">
  <p *ngFor="let one of results.businesses ">
    {{ one.name }}<br>
    {{ one.location.display_address }}<br>
    {{ one.display_phone }}<br>
    <img [src]="one.image_url" width="100">
  </p>
</div>

<!-- {{ businesess.name | json }} -->
<!-- {{ error | json }} -->

<!-- <router-outlet></router-outlet> -->